In [1]:
import numpy as np 
import pandas as pd
import os
import psycopg2
import geopandas as gpd

import importlib
from Secrets import secrets
# importlib.reload(secrets)

import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Choose comparable properties

In [23]:
engine = psycopg2.connect(database="postgres", user=secrets.user(), password=secrets.password(), host=secrets.host(), port='5432')
cur = engine.cursor()
cur.execute("""
SELECT 
    p.brn, p.lsoa, p.new, p.duration, p.type, e.total_floor_area, e.number_habitable_rooms,
    CAST(ROUND((p.price)::numeric,0 ) as integer) as avg_price,
    CAST(ROUND((p.price/e.total_floor_area)::numeric, 3 ) as integer) as sqm_price

from prices as p
join epc as e
on e.brn = p.brn
join geo as g
on p.lsoa = g.lsoa
where e.total_floor_area <> 0 and e.number_habitable_rooms <> 0 and e.number_habitable_rooms is not null and e.total_floor_area is not null

and e.number_habitable_rooms = 3
and (e.total_floor_area > 60 and e.total_floor_area < 75)
and p.type = 'D'
and p.duration = 'F'
and p.new = 'N'
;

""")
rows = cur.fetchall()
result = pd.DataFrame(rows, columns = [desc[0] for desc in cur.description])
result = result.groupby("lsoa", as_index=False).agg({'sqm_price': 'mean', 'avg_price': 'mean', "type": "count"})
result = result[result.type > 2]
result.shape

(240, 4)

In [25]:
result.round()

          lsoa  sqm_price  avg_price  type
0    E01000029     4440.0   293330.0     3
4    E01000104     3940.0   281332.0     3
8    E01000141     4096.0   286087.0    10
9    E01000144     3852.0   241667.0     3
20   E01000220    23256.0  1616875.0     8
..         ...        ...        ...   ...
727  E01004384     1118.0    76000.0     3
733  E01004454     4841.0   316899.0     5
735  E01004472     5568.0   416000.0     3
743  E01004569     1803.0   129667.0     3
764  E01033741     2905.0   195999.0     5

[240 rows x 4 columns]